* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: black;
    height: calc(100% - 20px);
    margin: 10px;
}

body {
    background-color: white;
}

#sohadiv,
#sohacanvas {
    width: 100%;
    height: 100%;
}
